@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* navbar */

.logo {
  width: 200px;
}

nav {
  background: rgba(0, 0, 0, 0.71);
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 50px;
}

.navbar .bar-2 {
  display: flex;
  align-items: center;
}

.bar-2 p {
  text-transform: uppercase;
  padding: 10px;
  list-style-type: none;
  color: #fff;
  font-size: 14px;
}

.bar-2 > p:hover {
  border-bottom: 2px solid #fff;
}

.button-sq button {
  width: 90px;
  height: 80px;
  background: red;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #fff;
}

.border-2 {
  border-top: 7px solid red;
  width: 60px;
  margin-top: 16px;
  margin-bottom: 40px;
}

/* section 2  */

.container-contact {
  padding: 150px 30px 0 50px;
}

.heading > h2 {
  font-size: 3vw;
}

.div-1-cont {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.div-1-child > p {
  font-size: 1.7vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.fa-envelope,
.fa-location-dot {
  font-size: 2vw;
  color: red;
  margin-left: 100px;
  margin-bottom: 20px;
}

.fa-location-dot {
  margin-left: 150px;
}

.container-contact > p {
  font-size: 1.5vw;
  line-height: 23px;
}

.form-map-cont {
  display: flex;
  margin-bottom: 30px;
}

input {
  display: inline-block;
  width: 90%;
  height: 45px;
  margin-top: 20px;
  padding: 10px;
}

.big-input {
  width: 90%;
  height: 100px;
  margin-bottom: 30px;
}
#font {
  margin-bottom: 20px;
  font-size: 0.7vw;
}

form > button {
  width: 25%;
  height: 40px;
  background: red;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.space {
  margin-left: 80px;
}

.map {
  width: 200%;
}

/* Section 3 (VENUE-B) */

.container-venue {
  display: flex;
  justify-content: space-between;
  background: #fff;
  height: 50vh;
  padding: 100px;
  margin: 30px 110px;
  align-items: center;
}

.fa-clock,
.fa-location-dot {
  color: red;
  font-size: 35px;
  margin-left: 50px;
  padding-bottom: 10px;
}

.fa-location-dot {
  margin-left: 100px;
}

.child-venue > h4,
.child-venue > p {
  padding-top: 10px;
  text-align: center;
}

.child-venue > h4 {
  font-size: 1.2vw;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.child-venue > p {
  font-size: 20px;
  line-height: 18px;
}

.button-rec button {
  width: 180px;
  height: 80px;
  background: transparent;
  text-transform: uppercase;
  color: red;
  border: 2px solid red;
  font-size: 18px;
}

.button-rec button:hover {
  background: red;
  color: #fff;
  cursor: pointer;
}
/* section 4 (COUNT-DOWN) */

.container-count-down {
  background-image: url(https://d33wubrfki0l68.cloudfront.net/res/images/44b10f4753a9c2a6b3b1588124315c41264cb4c5/bg-parallax.jpg);
  background-size: cover;
  height: 45vh;
  background-position: center;
  color: #fff;
}
.container-count-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
}
.child-count-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child-count-down > h4 {
  font-size: 6vw;
  margin: 0 25px;
}

.child-count-down > p {
  font-size: 20px;
  text-transform: uppercase;
}

/* foooter */

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 50px 20px 50px;
  height: 40vh;
}

.child-footer > p {
  width: 380px;
  line-height: 20px;
  padding-top: 15px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  color: grey;
  margin-right: 20px;
  font-size: 25px;
}
